//scss files
@import "reset.scss";
@import "fonts.scss";
@import "var.scss";
@import "placeholder.scss";

body {
   background: #0B1D26;
   color: #FFFFFF;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
   position: relative;
}
[class*="__container"] {
   max-width: 1788px;
   margin: 0 auto;
   padding: 0 15px;
}
[class*="__container-sm"] {
   max-width: 1462px;
   margin: 0 auto;
}
.main {
   flex: 1 1 auto;
}

.header {
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   padding: 64px 0;

   font-family: 'Gilroy';
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;

   transition: .2s ease-in-out;

   z-index: 5;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo {
      width: 108px;
      height: 24px;
   }
   &__profile {
      color: #FFFFFF;
      padding: 1px 0px 1px 32px;
      background: url(../img/profile.svg);
      background-repeat: no-repeat;
      background-position: 0% 0%;
      &:hover {
         opacity: .7;
      }
   }
}
.nav {
   position: fixed;
   z-index: 9999;
   top: 27.1%;
   right: 4.16%;
   &__list { 
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
   &__link {
      display: block;
      padding: 10px 35px 10px 0;
      font-family: 'Gilroy';
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      color: #FFFFFF;
      opacity: 0.5;
      border-right: 3px solid rgba(255, 255, 255, .5);
      transition: .2s ease-in-out;
      &.active {
         border-right: 3px solid rgba(255, 255, 255, 1);
         opacity: 1;
      }
   }
}
.menu {
   &__list {
      display: flex;
   }
   &__item {
      &:hover {
         opacity: .7;
      }
   }
   &__item:not(:last-child) {
      margin-right: 40px;
   }
   &__link {
      color: #FFFFFF;
   }
}
.home {
   overflow: hidden;
   position: relative;

   width: 100%;
   min-height: calc(100vh + 240px);
   z-index: 2;
   &__container {
      position: relative;
      height: 100vh;
   }
   &__text {
      width: 950px;
      position: relative;
      top: 273px;
      margin: 0 auto;
      z-index: 3;
   }
   &__label {
      margin-bottom: 32px;
   }
   &__title {
      font-family: 'Chronicle Display';
      font-weight: 600;
      font-size: 88px; //88px
      line-height: 100px;
      margin-bottom: 32px;
   }
   &__link {
      color: #FFFFFF;
      font-family: 'Gilroy';
      font-weight: 800;
      font-size: 18px;
      line-height: 0px;
      display: flex;
      align-items: center;
      transition: .2s ease-in-out;
      &::after {
         content: url(../img/home/arrow.svg);
         flex: 0 0 16px;
         margin-left: 16px;
      }
      &:hover {
         opacity: .7;
      }
   }
   // &__gradient {
   //    width: 100%;
   //    height: 100vh;
   //    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
   //    position: absolute;
   //    top: 0;
   // }
   // &__sky,
   // &__mountains,
   // &__hiker {
   //    position: absolute;
   //    right: 0;
   //    width: 100%;
   //    height: 100%;
   //    object-fit: cover;
   // }
   // &__sky {
   //    top: 0;
   //    z-index: -1;
   // }
   // &__mountains {
   //    top: 464px;
   //    z-index: 2;
   // }
   // &__hiker {
   //    top: 64%;
   //    z-index: 3;
   //    position: relative;
      
   // }
   // &__grad {
   //    width: 100%;
   //    height: 100vh;
   //    position: absolute;
   //    top: 0;
   //    left: 0;
   // }
   &__sky, 
   &__mountains, 
   &__hiker {
      position: absolute;
      right: 0;
      width: 100%;
      height: 100vh;
   }
   &__sky {
      background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%), top / cover no-repeat  url(../img/home/sky.png);
      top: 0;
      z-index: -1;
   }
   &__mountains {
      background: top / cover no-repeat  url(../img/home/mountains.png);
      z-index: 2;
      top: 32.2%; //464px //32.2 38.6
   }
   &__hiker {
      background: top / cover no-repeat  url(../img/home/hiker.png);
      top: 53.3%; //768px 53.3 64
      z-index: 3;
      &::before {
         content: '';
         position: absolute;
         bottom: -100px; //700+460
         right: 0;
         width: 100%;
         height: 700px;
         background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
         z-index: 1000;
      }  
   }
   
   @media (max-aspect-ratio: 3/2) {
      &__mountains {
         height: 70%;
      }
      &__hiker {
         background-position: 20% top;
         height: 70%;
      }
   }

}

.follow {
   position: absolute;
   top: 29.9%;
   left: 15px;
   z-index: 10;
   display: flex;
   flex-direction: column;
   p {
      font-family: 'Gilroy';
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      writing-mode: tb-rl;
   }
   #instagram,
   #twitter {
      display: block;
      width: 24px;
      height: 24px;
      margin-top: 24px;
      transition: .2s ease-in-out;
      &:hover {
         opacity: .5;
      }
   }
}

.label { 
   font-family: 'Gilroy';
   font-weight: 800;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 6px;
   text-transform: uppercase;
   color: #FBD784;

   display: flex;
   align-items: center;
   &::before {
      content: '';
      flex: 0 0 72px;
      height: 1px;
      margin-right: 24px;
      background-color: #FBD784;
   }

}

.content {
   background: #0B1D26;
   position: relative;
   z-index: 15;
   &__cards {
      position: relative;
      top: -200px; //260+240
      z-index: 15;
   }
   &__card:not(:last-child) {
      padding-bottom: 240px;
   }
}
.card {
   display: flex;
   justify-content: space-between;
   gap: 50px;
   &__info {
      position: relative;
      left: 0;
      max-width: 782px;
      padding-left: 150px;
      display: flex;
      flex-direction: column;
      align-self: center;
   }
   &__number {
      font-family: 'Gilroy';
      font-weight: 700;
      font-size: 240px;
      line-height: 240px;
      color: #FFFFFF;
      opacity: 0.1;
      position: absolute;
      top: -103px;
      left: 0px;
   }
   &__label {
      margin-bottom: 27px;
   }
   &__title {
      max-width: 555px;
      font-family: 'Chronicle Display';
      font-weight: 600;
      font-size: 64px;
      line-height: 77px;
      margin-bottom: 27px;
   }
   &__subtitle {
      font-family: 'Gilroy';
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 27px;
   }
   &__link {
      font-family: 'Gilroy';
      font-size: 18px;
      line-height: 0px;
      color: #FBD784;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      &::after {
         transition: .2s ease-in-out;
         content: url(../img/content/arrow.svg);
         margin-left: 16px;
      }
      &:hover::after {
         margin-left: 30px;
      }
   }
   &__pic {
      flex: 0 1 38.7;
      object-fit: contain;
   }
}

.footer {
   background-color: #0B1D26;
   padding-bottom: 120px;
   &__container-sm {
      display: flex;
      justify-content: space-between;
   }
   &__info {
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: 303px;
      font-family: 'Gilroy';
      line-height: 32px;
      margin-right: 24px;
   }
   &__logo {
      margin-bottom: 24px;
   }
   &__subtitle {
      font-weight: 700;
      font-size: 18px;
   }
   &__follow {
      display: none;
   }
   &__copyright {
      position: absolute;
      bottom: 0;
      font-weight: 500;
      opacity: 0.5;
   }
   &__nav {
      flex: 0 1 566px;
      display: flex;
      justify-content: space-between;
   }
   &__list {
      &:not(:last-child) {
         margin-right: 24px;
      }
   }
   &__item {
      font-family: 'Gilroy';
      &:not(:last-child) {
         margin-bottom: 16px;
      }
   }
   &__title {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: #FBD784;
      margin-bottom: 24px;
   }
   &__link {
      font-size: 18px;
      line-height: 32px;
      color: #FFFFFF;
      transition: .2s ease-in-out;
      &:hover {
         opacity: .7;
      }
   }
}

/*==========================================================*/
/* Landscape tablets and medium desktops */
@media (max-width: 1199.98px) {
   [class*="_container"] {
      max-width: 970px;
   }
   [class*="__container-sm"] {
      max-width: 970px;
   }
   .home {
      &__text {
         max-width: 80%;
         top: 30%;
      }
      &__title {
         font-size: 64px;
         line-height: 77px;
      }
   }
   .content {
      &__card:not(:last-child) {
         padding-bottom: 200px;
      }
   }
   .card {
      &__number {
         font-size: 200px;
         line-height: 200px;
      }
      &__info {
         padding-left: 50px;
      }
      &__title {
         font-size: 50px;
         line-height: 60px;
      }
      &__pic {
         width: 50%;
      }
   }
   .footer {
      &__nav {
         flex: 0 1 50%;
      }
   }
}
/* Portrait tablets and small desktops */
@media (max-width: 991.98px) {
   [class*="_container"] {
      max-width: none;
   }
   .home {
      &__label {
         margin-bottom: 15px;
      }
      &__title {
         margin-bottom: 15px;
      }
   }
   .content {
      &__card:not(:last-child) {
         padding-bottom: 150px;
      }
      margin-bottom: 0;
   }
   .card {
      &__number {
         font-size: 150px;
         line-height: 150px;
         top: -75px;
         left: 0px;
      }
      &__info {
         padding-left: 50px;
      }
      &__label {
         margin-bottom: 15px;
      }
      &__title {
         margin-bottom: 15px;
         font-size: 40px;
         line-height: 50px;
      }
      &__subtitle {
         margin-bottom: 15px;
      }
      &__pic {
         width: 40%;
      }
   }
   .footer {
      position: relative;
      top: -50px;
      padding-bottom: 0px;
      z-index: 1000;
   }
}
/* Mobile */
@media (max-width: 767.98px) {
   .header {
      padding: 15px 0;
      &__container {
         align-items: flex-start;
      }
   }
   .menu {
      
      &__item:not(:last-child) {
         margin-right: 0px;
         margin-bottom: 15px;
      }
      &__list {
         flex-direction: column;
      }
   }
   .nav {
      right: 15px;
      &__link {
         padding-right: 15px;
      }
   }
   .home {
      &__title {
         font-size: 50px;
         line-height: 55px;
      }
      
   }
   .content {
      &__card {
         gap: 0px;
         &:not(:last-child) {
            padding-bottom: 70px;
         }
      }
   }
   .card {
      align-items: center;
      flex-direction: column;
      &__number {
         font-size: 100px;
         line-height: 100px;
         top: 0;
      }
      &__info {
         order: 2;
         padding-top: 50px;
         padding-right: 50px;
      }
      &__pic {
         order: 1;
         width: 70%;
         height: 300px;
         object-fit: cover;
         object-position: 50% 50%; 
      }
      .first-pic {
         object-position: 50% 100%; 
      }
      .second-pic {
         object-position: 50% 50%; 
      }
      .third-pic {
         object-position: 50% 70%; 
      }
   }
   .footer {
      &__info {
         flex: 0 1 35%;
      }
      &__nav {
         flex: 0 1 65%;
      }
      &__title {
         margin-bottom: 15px;
      }
      &__item:not(:last-child) {
         margin-bottom: 10px;
      }
   }
}

/* Small mobile */
@media (max-width: 479.98px) {
   .home {
      &__follow {
         display: none;
      }
      &__text {
         max-width: 100%;
      }
   }
   .footer {
      &__container-sm {
         flex-direction: column;
      }
      &__info {
         margin-right: 0px;
         line-height: 24px;
         margin-bottom: 30px;
         max-width: 100%;
      }
      &__subtitle {
         margin-bottom: 20px;
      }
      &__follow {
         display: flex;
         top: 70px;
         flex-direction: row;
         width: 100%;
         justify-content: flex-start;
         margin-bottom: 50px;
         p {
            writing-mode: horizontal-tb;
         }
         #instagram,
         #twitter {
            margin-top: 0;
            margin-left: 15px;
         }
      }
      
   }
}


